    html {
      overflow: hidden;
      height: 100%;
      background: #1E559C;
    }
    body {
      overflow: auto;
      height: 100%; max-width: 960px;
      margin: 0 auto; /* center */ padding: 0 20px;
      border: 1px solid black; border-width: 0 1px;
      background: #fefefe;
    }
    header, nav, aside, article, footer, main, ul, li {
      display: flex;
    }
    nav, footer, {
      flex-direction: row;
    }
    header, main, article, aside {
      flex-direction: column;
    }
    a { text-decoration: none; }
    nav { border-bottom: solid 1px black; border-top: solid 1px black;}
    nav ul { padding-left: 0; margin: 8px 8px 8px 0; font-size: 14px;}
    nav ul li a { padding-right: 12px; }
    aside { float: right; padding: 0; border-left: dashed 1px black; width: 120px; border-bottom: dashed 1px black; width: 120px; }
    aside h1 { font-size: 24px; margin: 24px 0 0 0; padding-left: 12px; }
    aside p { margin: 12px; font-size: 12px;}
    article hgroup h1 { font-size: 24px; margin: 12px 0 8px 0; }
    article hgroup h2 { font-size: 18px; margin: 8px 0 8px 0; }
    article hgroup h3 { font-size: 14px; float: left; margin: 0; line-height: 16px; }
    article hgroup h4 { font-size: 12px; float: right; margin: 0 12px 0 0; line-height: 16px; }
    article hgroup { margin: 12px 0 12px 0; }
    article h1 { font-size: 18px; margin: 8px 0 0 0; }
    article p { margin: 8px 0 8px 0; }
    article { margin: 0 16px 16px 0; }
    footer { width: 100%; border-top: solid 1px #a1a1a1; font-size: 14px; color: #515151; justify-content: center; height: 200px;}
 
